In [ ]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = data = pd.read_csv('stock_data_MICROSOFT.csv', sep=",")

In [ ]:
df = df[['Text']]

In [ ]:
df

                                                     Text
0       @DrBullShark $AMZN $MSFT $FB $AAPL were my go ...
1       PF（順不同）\n$AAPL $DDOG $NET $GOOGL $U $MSFT $NTR...
2       @Chart2Me Here is your daily chart for Microso...
3         Will the dip continue this week? $MSFT #chartme
4       Market Discussion &amp; Analysis for 11.29.21\...
...                                                   ...
210623  Portfolio 11/30 (company, allocation)\n$TTD 15...
210624  $QQQ needs some loving. Now that $GOOGL $TSLA ...
210625  Mon:$400B traded $TSLA $AAPL $AMZN $MRNA// $NI...
210626  3) Work From Home\na) Platforms - $ASAN $TEAM ...
210627  $MRNA $LULU $IPOB $CHWY some of thr big winner...

[210628 rows x 1 columns]

In [ ]:
stopwords = ["for", "on", "an", "a", "of", "and", "in", "the", "to", "from"]

In [ ]:
import numpy as np
import re

def clean_tweet(tweet):
    if type(tweet) == np.float:
        return ""
    temp = tweet.strip('"')
    temp = temp.lower()
    temp = re.sub("'", "", temp) # to avoid removing contractions in english
    temp = re.sub("@[A-Za-z0-9_]+","", temp)
    temp = re.sub("#[A-Za-z0-9_]+","", temp)
    temp = re.sub("$[A-Za-z0-9_]+","", temp)
    temp = re.sub(r'http\S+', '', temp)
    temp = re.sub('[()!?]', ' ', temp)
    temp = re.sub('\[.*?:\]',' ', temp)
    temp = re.sub(r'[^\x00-\x7F]+', '',temp)
    temp = re.sub("[^a-z]"," ", temp)
    temp = temp.split()
    temp = [w for w in temp if not w in stopwords]
    temp = " ".join(word for word in temp)
    return temp

In [ ]:
list = df['Text'].to_list()

In [ ]:
results = [clean_tweet(tw) for tw in list]

In [ ]:
df1 = pd.DataFrame(results, columns =['Tweets'])

In [ ]:
df1['Tweets'].replace('', np.nan, inplace=True)

In [ ]:
df1 = df1. dropna()

In [ ]:
df1['Tweets']

0                 amzn msft fb aapl were my go names friday
1         pf aapl ddog net googl u msft ntr nvda cfd sp ...
2         here is your daily chart microsoft corporation...
3                          will dip continue this week msft
4         market discussion amp analysis es qqq aapl afr...
                                ...
210623    portfolio company allocation ttd shop enph nvt...
210624    qqq needs some loving now that googl tsla aapl...
210625    mon b traded tsla aapl amzn mrna nio zm amd ba...
210626    work home platforms asan team jamf zm msft b i...
210627    mrna lulu ipob chwy some thr big winners our t...
Name: Tweets, Length: 210323, dtype: object

In [ ]:
df1['Scores'] = df1['Tweets'].apply(lambda tweet: sid.polarity_scores(tweet))

In [ ]:
df1.drop('Tweets', axis=1, inplace=True)

In [ ]:
df1.to_csv('demo.csv')

In [ ]:
df1['Compound']  = df1['Scores'].apply(lambda score_dict: score_dict['compound'])

In [ ]:
df1['Comp_score'] = df1['Compound'].apply(lambda c: "neg" if c<0 else "pos" if c>0 else "neutral")

In [ ]:
df1

                                                   Tweets  ... Comp_score
0               amzn msft fb aapl were my go names friday  ...    neutral
1       pf aapl ddog net googl u msft ntr nvda cfd sp ...  ...    neutral
2       here is your daily chart microsoft corporation...  ...    neutral
3                        will dip continue this week msft  ...    neutral
4       market discussion amp analysis es qqq aapl afr...  ...        pos
...                                                   ...  ...        ...
210623  portfolio company allocation ttd shop enph nvt...  ...    neutral
210624  qqq needs some loving now that googl tsla aapl...  ...        pos
210625  mon b traded tsla aapl amzn mrna nio zm amd ba...  ...    neutral
210626  work home platforms asan team jamf zm msft b i...  ...    neutral
210627  mrna lulu ipob chwy some thr big winners our t...  ...        pos

[210323 rows x 4 columns]

In [ ]:
df1.to_csv("stock_data_MICROSOFT_VADER_Sentiments.csv")